body {
  font-family: Verdana,Arial;
  font-size: 11px;
  margin: 0px 0px 5px 0px;
}

a:link {
  color: #0066cc;
}

img {
  vertical-align: middle;
}

.standard_text_color {
    color: #000000;
}

.infobox {
  background-color: #f0f6fb;
  border-bottom: 1px solid #c1cdd7;
  padding: 10px;
  vertical-align: middle;
}

.info_text {
    color: #5b7b96;
    font-weight: bold;
}

.infobox .buddyname {
    font-weight: bold;
}

#statusbox {
    background-color: #f0f6fb;
    border-bottom: 1px solid #c1cdd7;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 5px;
    vertical-align: middle;
}

.message {
  margin-top: 2px;
}

.audible_message {
    margin-top: 2px;
    margin-left: 2px;
}

.timestamp {
  font-weight: normal;
  display: none;
}

.message_in {
  margin-left: 5px;
}

.message_in .yahoo_id {
  font-weight: bold;
  color: #333399;
}

.message_out {
  margin-left: 5px;
}

.message_out .yahoo_id {
  font-weight: bold;
  color: #808080;
}

.audible_in .yahoo_id {
    font-weight: bold;
    color: #333399;
}

.audible_out .yahoo_id {
    font-weight: bold;
    color: #808080;
}

.typing {
  margin-left: 5px;
  color: #333399;
  font-style:italic;
}

.file_in {
  background-color: #fbfaf3;
  border-bottom: 1px solid #dfdcc4;
  margin-top: 2px;
  margin-bottom: 2px;
  padding-left: 5px;
  padding-bottom: 5px;
}

.file_in_text {
  color: #7e7e7e;
  margin-left: 40px;
}

.file_in_icon {
  float: left;
  padding-right: 5px;
}
